/* Global reset */
* {
  box-sizing: border-box;
}

/* Body styling */
body {
  line-height: 1.6;
}

/* Indicator */
.indicator {
   transition: left 0.4s;
}

.work_card > div {
    @apply duration-500;
}

.work_card:hover > div {
    @apply bottom-0;
}

.work_card > div i {
    @apply duration-300 delay-300;
}

.work_card:hover > div i {
    @apply -rotate-90;
}

model-viewer {
  background-color: transparent !important;
  box-shadow: none !important;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

#profile {
  text-align: center;
  padding: 60px 0;
}

#firefly {
  transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}